.findDeals {
  padding: 50px 0;
  min-height: 30vh;
  /* border-bottom: 1px solid #bca4ff; */
  /* width: 100%; */
}
.title h4 {
  padding-bottom: 15px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 106.25% */
  letter-spacing: 1px;
}
.line {
  width: 1440px;
  background-color: #bca4ff;
}
.formAndSearchResult{
  display: flex;
  gap: 5rem;
}
.destinationForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width: 20%; */
  height: 455px;
  background-color: #2a00a2;
  padding: 20px;
  border-radius: 0.9rem;
}
.formTitle h4 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.75px;
  color: #bca4ff;
}
.inputs{
  position: relative;
}
.icons{
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 25px;
  color: #14142B;
}
input {
  width: 100%;
  padding: 10px 5px;
  border-radius: 0.4rem;
  background-color: #f7f7fc;
  border: none;
}
label {
  color: #f3efff;
}
.btnSearch {
  width: 100%;
  border: none;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  background-color: #ed2e7e;
  color: #f7f7fc;
  cursor: pointer;
}
.btnSearch:hover {
  background-color: #ae084d;
  color: #f7f7fc;
}
::placeholder {
  padding-left: 30px;
  color: #404079;
}
@media screen and (max-width: 500px) {
  .formAndSearchResult{
    flex-direction: column;
  }

  .btnSearch {
    width: 100%;
  }
}
