header {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #f7f7fc;
  border-bottom: 1px solid #bca4ff;
  padding: 25px 10rem;
  align-items: center;
  text-align: center;
  z-index: 999;
}
ul li {
  list-style: none;
}
.logo a {
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  /* line-height: 55px; */
  color: #5f2eea;
}
.closeIcon {
  color: #5f2eea;
  font-size: 28px;
  cursor: pointer;
}
.menuIcon {
  color: #5f2eea;
  font-size: 28px;
  cursor: pointer;
}
.navBarLinks {
  background-color: #5f2eea;
  position: absolute;
  padding: 10px 40px;
  min-height: 90vh;
  width: 100%;
  z-index: 1;
}
.servicesItems {
  background-color: #7c56e4;
}
.navBarLinks li:not(:last-child) {
  margin-bottom: 45px;
}
.navBarLinks a {
  text-decoration: none;
  color: #fff;
}
/* hr{
  color: #BCA4FF;
} */
.servicesItems {
  margin-bottom: 50px;
}
/* media quaery */
@media screen and (max-width: 1230px) {
  header{
    padding: 25px 1rem;
  }
}
@media (max-width: 500px) {
  header {
    padding: 25px 1rem;
    
  }
}
