.Review {
  margin-top: 15px;
  min-height: 30vh;
  padding-left: 3rem;
}
.reviewContent {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.position {
  position: relative;
}
.img {
  position: absolute;
  width: 15%;
  top: .1rem;
  right: 16.2em;
}
.reviewItem h4 {
  height: 50px;
  font-size: 32px;
  color: #2a00a2;
  font-weight: 700;
  line-height: 34px; /* 106.25% */
  letter-spacing: 1px;
}
.reviewItem p {
  width: 250px;
  height: 90px;
  color: #6e7191;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  letter-spacing: 0.75px;
}
@media (max-width: 1028px) {
  .Review {
    margin-top: 25px;
    padding-left: -2rem;
  }
  /* .reviewContent {
    flex-direction: column;
    margin-left: -5rem;
  } */
  .reviewItem h4 {
    font-size: 30px;
  }
  /* .img img{
  
  display: none;
} */
  .reviewItem p {
    width: 260px;
    height: 90px;
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  .Review {
    margin-top: 25px;
    padding-left: -2rem;
  }
  .reviewContent {
    flex-direction: column;
    /* margin-left: -5rem; */
  }
  .reviewItem h4 {
    font-size: 30px;
  }
  /* .img img{
  
  display: none;
} */
  .reviewItem p {
    width: 260px;
    height: 90px;
    font-size: 17px;
  }
}
@media (max-width: 320px) {
  .reviewItem h4 {
    font-size: 30px;
  }
}
@media (max-width: 280px) {
  .reviewItem h4 {
    font-size: 22px;
  }
  .reviewItem p {
    width: 190px;
    height: 90px;
    color: #6e7191;
    font-size: 13px;
  }
}
