.contactContainer {
  min-height: 50vh;
}
.contactContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1368px;
  width: 100%;
  height: 350px;
  color: white;
  background-color: #2a00a2;
  border-radius: 1rem;
}
.para {
  max-width: 605px;
  width: 100%;
  /* height: 99px; */
text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px; /* 104.167% */
  letter-spacing: 1px;
  padding-top: 3rem;
  /* padding-left: 50px; */
}
.contactBtn{
  width: 100%;
    border: none;
  border: 1px solid #fcfcfc;
  padding: 10px 50px;
  margin-top: .8rem;
  border-radius: 5rem;
  background-color: #2a00a2;
  color: #fcfcfcfc;
  cursor: pointer;
}